@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
  --accent: #6366f1;
  --navbar-height: 100px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-montserrat);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #EAE4D3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-press-start {
  font-family: var(--font-press-start);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.gradient-border {
  position: relative;
  z-index: 0;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: linear-gradient(90deg, #D7263D, #13552a, #a01e2e, #ffffff);
  background-size: 200% 100%;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: gradient-wave 4s linear infinite;
  z-index: -1;
}

.gradient-border-hover {
  position:relative;
  isolation: isolate;
}

.gradient-border-hover::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: linear-gradient(90deg, #D7263D, #13552a, #a01e2e, #ffffff);
  background-size: 200% 100%;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
  animation: gradient-wave 4s linear infinite;
}

.gradient-border-hover:hover::before {
  opacity: 1;
}

@keyframes gradient-wave {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }  
}

@keyframes glow-pulse {
  0%, 100% {
    opacity: 0.6;
    transform: scale(1);
  }
  50% {
    opacity: 1.0;
    transform: scale(1.2);
  }
}

.glow-animate {
  animation: glow-pulse 10s ease-in-out infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.1;
  }
}

